# OpenAI API key
OPENAI_API_KEY=your-openai-api-key-here

# OpenAI Models
OPENAI_MODEL=gpt-5-nano

# Ollama API base URL
OLLAMA_BASE_URL=http://localhost:11434/v1

# Ollama Models
# OLLAMA_MODEL=llama3.1:8b
# OLLAMA_MODEL=gpt-oss:20b
OLLAMA_MODEL=gemma4:26b